/* aside */
aside.sidebar {
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 10px 10px;
    border-right: 1px solid #E2E2E3;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
}
aside.sidebar li {
    padding: 10px 0;
}
aside.sidebar button {
    padding: 5px 10px;
}
*[v-cloak]{
    display: none;
}
