.editableSpan {
    position: relative;
}
.editableSpan:hover {
    z-index: 3;
}
.editableSpan button:hover {
    background-color: #F5F5F7;
}
.editableSpan button{
    color: #666;
    width: 50px;
    font-size: 12px;
    padding: 2px 10px;
    outline: none; 
    background-color: #fff;
    margin: 0;
    border: 1px solid #E2E2E3;
    border-radius: 4px;    
    position: absolute;
    top: 0px;
    left: -50px;
}
 .editableSpan:hover button {
    visibility: visible;
    z-index: 2;
}

.editableSpan button {visibility: hidden;}
.editableSpan input {
    border: 1px solid #999;
    border-radius: 2px;
    font-size: inherit;
    width: 150px;
    position: absolute;
    top:0;
    left: 0;}